body {
  font-family:"Roboto", sans-serif;
  color:#252525;
}

header {
  margin-bottom:40px;
  background:#F0BD35;
}
  header h1 {
    margin-bottom:10px;
  }
  header p {
    margin-top:0;
  }

.card {
  margin-bottom:20px;
  border:solid 1px #E8E8E8;
}
  .card h3 {
    margin-bottom:10px;
    padding:0 15px;
  }
  .card p {
    margin:0 0 25px 15px;
  }

img {
	width:100%;
}